<?xml version="1.0"?>
<launch>
    <!-- robot -->
    <include file="$(find-pkg-share sphero_rvr_control)/launch/sphero_rvr_control.launch"/>

    <!-- controllers -->
    <include file="$(find-pkg-share sphero_rvr_controllers)/launch/sphero_rvr_controllers.launch"/>

    <!-- fleet connection -->
    <include file="$(find-pkg-share rvr_autokit_driver)/launch/fleet_logger.launch.py"/>

</launch>
