<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find-pkg-share sphero_rvr_description)/urdf/sphero_rvr.urdf.xacro"/>

  <!-- robot state publisher -->
  <node pkg="robot_state_publisher" exec="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="robot_description" value="$(command 'xacro $(var model)')"/>
  </node>

</launch>
