<?xml version="1.0"?>
<launch>
    <!-- robot state -->
    <include file="$(find-pkg-share sphero_rvr_description)/launch/robot.launch"/>

    <!-- rvr hardware -->
    <node pkg="controller_manager" exec="ros2_control_node" name="controller_manager">
        <param name="robot_description" value="$(command 'xacro $(find-pkg-share sphero_rvr_description)/urdf/sphero_rvr.urdf.xacro')"/>
        <param from="$(find-pkg-share sphero_rvr_control)/config/control.yaml"/>
    </node>
</launch>
